
li {
    margin-left: 2em;
}

body  {
    font-family: Calibri, serif;    
    background-color: #71777d;
}

body.blanc {
    background-color: white;
}

.rouge {
    color: #cb202a;
}

p.message, p.erreur {
    font: normal 1em Helvetica, Arial, sans-serif;
    padding: 0 3px;
}

p.message {
    border: 1px solid #995522;
    background-color: #e1d8b9;
    color: black;
}

p.erreur {
    border: 1px solid #193742;
    background-color: #cb202a;
    color: white;
}

#contenu {
    width: 85%;
    margin: 20px auto;
    padding: 5px;
    background-color: white;
    min-height: 300px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Arial, sans-serif;
}

.bleu,
#contenu h1, #contenu h2, #contenu h3, #contenu h4, #contenu h5, #contenu h6 {
    color: #3c6b92;
}

.normal {
    font-weight: normal;
}

#contenu h1 {
    font-weight: normal;
    font-size: 1.4em;
}

#contenu p, #contenu h1, #contenu h2, #contenu h3 {
    margin-bottom: .5em;
}

#contenu h1 {
    border-bottom: solid 2px #3c6b92;
}

#contenu h2.erreur {
    color: #cb7d20;
}


/* formulaire    */

#form {
    margin-bottom: 10px;
    border-bottom: 2px solid #3c6b92;
}

#form input[type=text] {
    width: 300px;
}

#form td.button, #form td.label {
    text-align: right;
}

#form td.label {
    padding-right: 3px;
}


/* iframe */
iframe.iFrameWorker {
    width: 300px;
    height: 200px;
    margin: 0 5px;
    padding: 3px;
    border-top: 2px solid #3c6b92;
    border-left: 2px solid #3c6b92;
    border-bottom: 2px solid #ccc;
    border-right: 2px solid #ccc;
}
 