/* Balises générales */
/*********************/
body {
	font-family: 'Lucida console', serif;  	
}
h1,h2,.divImg{  
  text-align: center;
}

hr {
    border-width: 3px;
}
iframe{
    border: 4px solid #888;
    border-radius: 20px;
}
.image{
    
    text-align: center;
}
.texte {

    margin-left: 20px;
}

/* Styles de test */
/*****************/

.boutons{
	border: outset;
	border-width: 2px;
	text-align: center;	
}
.selection{
	background: yellow;
}
.deselection{
	background: white;
}

/* div avec bordure */

.bordure{
    border: 2px solid #888;
    border-radius: 10px;
    padding-left: 20px;
    padding-top:20px;
    padding-bottom: 20px;
}


/* Texte */
/*********/

.gras {
    font-weight: bold;
}
.italique{
    font-style: italic;
}
.centre{
    text-align: center;
}

