/* Balises générales */
/*********************/
body {
	font-family: 'Lucida console', serif;  	
}

hr {
    border-width: 3px;
}

iframe{
    border: 4px solid #888;
    border-radius: 20px;
}
.image{
    
    text-align: center;
}

a:hover {
	color: red
}

h1, h2, h3 {
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
}



/* Quelques classes utiles */
/***************************/
.rouge {
	background-color: red
}

.jaune {
	background-color: yellow
}

.vert {
	background-color: green
}

.divImg{  
  text-align: center;
}


/* Styles de test */
/*****************/

.boutons{
	border: outset;
	border-width: 2px;
	text-align: center;	
}
.selection{
	background: yellow;
}
.deselection{
	background: white;
}

/* div avec bordure */

.bordure{
    border: 2px solid #888;
    border-radius: 10px;
    padding-left: 20px;
    padding-top:20px;
    padding-bottom: 20px;
}

.titre {
	display: table;
	margin: auto;
	background-color: #c0c0c0;
	border-width: 1px;
	border-radius: 6px;
	border-color: #9fd1ff;
	padding: 5px 8px;
	letter-spacing: -.025em;
}


/* Texte */
/*********/

.gras {
    font-weight: bold;
}
.italique{
    font-style: italic;
}
.centre{
    text-align: center;
}

/* Tableaux */
/***********/

table  {                            /* les bordures sont fusionnées */
    border-collapse: collapse;
  }
  table thead{                     /* les titres en blanc sur gris sombre */
      background: #888;
      color: #fff;
  }
table tr {                          /* chaque ligne a un trait de 1p en bas */
      border-bottom: 1px solid #888;
}
table td {                          /* trait blanc de séparation des colonnes */
    border-left: 1px solid #fff;
}
table th{                           /* texte des titres aligné à gauche et trait blanc de séparation vertical */
    text-align: left;
     border-left: 1px solid #fff;
}
table th, table td {                /* texte aéré par un padding */
    padding:5px 10px;
}
table tbody tr:nth-child(even){     /* zonage 1 ligne sur2 */
    background:#eee;
}
table tbody tr:last-child{          /* dernière ligne, trait + épais */
    border-bottom: 3px solid #888;
}

table caption{                      /* légende du tableau en bas et gras/italique */
    caption-side: bottom;
    font-style: italic;
    font-weight: bold;
}


/* Formulaires */
/***************/


.formTable {
	display: table;
}

/* alignement à droite, si sur une ligne */
.formTable td:first-child {
	text-align: right;
}

th {
	background-color: #afc4d6;
	font-size: 110%;
	font-family: Arial, Helvetica, sans-serif;
}

legend {
	font-weight: bold;
	color: black;
	background-color: #c0c0c0;
	border: 1px solid #1a55bf;
	padding: 3px 5px;
	border-radius: 3px;
}

fieldset {
	border-radius: 6px;
	display: block;
}

input, textarea {
	background-color: #c0c0c0;
	text-align: left;
}


input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	background-color: #c0c0c0;
}

.erreur {
	color: red;
	font-weight: bold;
}

/* Chrome et IE, les puces près du texte. OK avec Firefox. */
[align="center"] li {
	list-style-position: inside;
}