<html>
<head>
   <style>
   .xx {
    border-style: solid solid solid solid;
   }
   </style>
   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
   <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
   <title>Jquery</title>
</head>
<body ng-app="xx" ng-controller="traitement">
<button ng-click='nouveauPoint()'>Nouveau point</button><br/>
<button ng-click='ligne()'>Ligne</button><br/>
<button ng-click='cercle()'>Cercle</button><br/>
<button ng-click='rectangle()'>Rectangle</button><br/>
<canvas id='cv' class='xx' width='400px' height='400px'></canvas><br/>
{{affiche}}
<script>
    angular.module ('xx', [])
    .controller('traitement', function ($scope) {
        $scope.Math = window.Math;
        $scope.affiche='-----------';
        $scope.cercle=function ()
        {
            $scope.affiche="Cercle";
            console.log ("Cercle")
            $scope.ctx.strokeStyle = "#4bf";
            $scope.ctx.beginPath();
            $scope.ctx.arc($scope.p2.x,$scope.p2.y,50,0,2*Math.PI);
            $scope.ctx.stroke();
        }
        $scope.rectangle=function ()
        {
            $scope.affiche="Rectangle";
            console.log ("Rectangle")
            $scope.ctx.strokeStyle = "#4bf";
            $scope.ctx.rect($scope.p1.x,$scope.p1.y,$scope.p2.x,$scope.p2.y);
            $scope.ctx.stroke();
        }
        $scope.p1={ x:0,y:0}
        $scope.p2={ x:0,y:0}
        $scope.ctx = document.getElementById('cv').getContext("2d");
        $scope.nouveauPoint = function ()
        {
            $scope.affiche="Point";
            console.log ("Point")
            $scope.p2.x=$scope.Math.random()*400;
            $scope.p2.y=$scope.Math.random()*400;
        }
        $scope.ligne = function (){
            $scope.affiche="Ligne";
            console.log ("Cercle")
            $scope.ctx.strokeStyle = "#4bf";
            $scope.ctx.moveTo($scope.p1.x,$scope.p1.y);
            $scope.ctx.lineTo($scope.p2.x,$scope.p2.y);
            $scope.ctx.stroke();
        }  
        $('canvas').bind('mousedown', function (event)
        {
            $scope.p2.x = event.offsetX;
            $scope.p2.y = event.offsetY;
            $scope.cercle();
            $scope.rectangle();
            $scope.ligne();
        })
    });
</script>
</body>
</html>