.effets {
    width: 200px; 
}
.effets-header {
    margin: 0;
}
.menu-transparent {
  opacity: 0.8;
  max-height: 140px;
  overflow-y: auto;
}
body {
  background-color: #e9e9e9; 
}
h1,h2,h3 {
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: black;
}
.formTable {
  display: table;
}

.formTable td:first-child {
  text-align: right;
}

.formTable td:nth-child(3) {
  color: red;
  font-weight: bold;
}
fieldset {
  border-radius: 6px;
  display: block;
}

/* Chrome et IE, les puces près du texte. OK avec Firefox. */
[align="center"] li {
	list-style-position: inside;
}