@CHARSET "ISO-8859-1";

body {
	background:#d3d3d3;
}
h3 {
	text-align: center;
	color: blue
}
table
{
border-collapse:collapse;
}
table, td, th
{
border:1px solid green;
}
td
{
background-color:#99ff99;
color:white;
}

.bouton {
	border-color: blue;
	font-style: italic;
	width: 50;
	height: 30;

}