/* Balises générales */
/*********************/
body {
	font-family: 'Lucida console', serif;  	
}
h1,.divImg{  
  text-align: center;
}

hr {
    border-width: 3px;
}
iframe{
    border: 4px solid #888;
    border-radius: 20px;
}
.image{
    
    text-align: center;
}

/* Styles de test */
/*****************/

.boutons{
	border: outset;
	border-width: 2px;
	text-align: center;	
}
.selection{
	background: yellow;
}
.deselection{
	background: white;
}

/* div avec bordure */

.bordure{
    border: 2px solid #888;
    border-radius: 10px;
    padding-left: 20px;
    padding-top:20px;
    padding-bottom: 20px;
}


/* Texte */
/*********/

.gras {
    font-weight: bold;
}
.italique{
    font-style: italic;
}
.centre{
    text-align: center;
}

/* Tableaux */
/***********/

table  {                            /* les bordures sont fusionnées */
    border-collapse: collapse;
  }
  table thead{                     /* les titres en blanc sur gris sombre */
      background: #888;
      color: #fff;
  }
table tr {                          /* chaque ligne a un trait de 1p en bas */
      border-bottom: 1px solid #888;
}
table td {                          /* trait blanc de séparation des colonnes */
    border-left: 1px solid #fff;
}
table th{                           /* texte des titres aligné à gauche et trait blanc de séparation vertical */
    text-align: left;
     border-left: 1px solid #fff;
}
table th, table td {                /* texte aéré par un padding */
    padding:5px 10px;
}
table tbody tr:nth-child(even){     /* zonage 1 ligne sur2 */
    background:#eee;
}
table tbody tr:last-child{          /* dernière ligne, trait + épais */
    border-bottom: 3px solid #888;
}

table caption{                      /* légende du tableau en bas et gras/italique */
    caption-side: bottom;
    font-style: italic;
    font-weight: bold;
}