body {
    background-color: rgb(255,255,255);
    color: rgb(59,67,68);
    margin: 0;
    padding: 0;
    font: 1em "Lucida Grande", "Lucida Sans", Verdana, Tahoma, sans-serif;
}
h1, h2, h3 {
    margin: 0;
    padding: 0 0 1em 0;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
ul, ol, p {
    margin:0;
    padding: 0 0 1em 0;
}
h1 {
    font-size: 137.5%;
    color: rgb(241,47,93);
}
h2 {
    font-size: 125%;
    color: rgb(241,47,93);
}
h3 {
    font-size: 100%;
}
a:link, a:visited {
    color: rgba(241,47,93,0.8);
}
a:hover {
    color: rgb(241,47,93);
    text-decoration: none;
}
.nav {
    list-style-type: none;
    padding: 0;
}
.nav a:link, .nav a:visited {
    text-decoration: none;
    display: block;
    border-top: 1px solid rgb(232,243,248);
    padding: 0.5em 0 0.5em 0;
    color: rgb(66,148,182);
}
.nav a:hover {
    background-color: rgba(232,243,248,0.3);
}
.box {
    border-top: 1px solid rgb(219,230,236);
    padding: 1em 0 1em 0;
}

/* pour centrer l'ensemble de l'affichage dans la page */
section {
    width: 940px;
    margin: 0 auto 0 auto;
}
header {
    text-align: right;
    padding: 40px 0 0 0;
    border-bottom: 8px solid rgb(59,67,68);
    margin-bottom: 40px;
}
header h1 {
    font-size: 187.5%;
    border-bottom: 1px solid rgb(59,67,68);
    margin-bottom: 2px;
    padding-bottom: 10px;
    color: rgb(59,67,68);
}
/* pour le 'Web' */
header h1 span {
    font-style: italic;
    color: rgb(241,47,93);
}
.principale {
    position: relative;
}
article {
    position: absolute;
    top: 0;
    left: 0;
    width: 540px;
}
aside {
    width: 300px;
    position: absolute;
    top: 0;
    right: 0;
}
