body {
    background-color: rgb(255,255,255);
    color: rgb(59,67,68);
    margin: 0;
    padding: 0;
    font: 1em "Lucida Grande", "Lucida Sans", Verdana, Tahoma, sans-serif;
}
h1, h2, h3 {
    margin: 0;
    padding: 0 0 1em 0;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
ul, ol, p {
    margin:0;
    padding: 0 0 0.75em 0;
}
h1 {
    font-size: 137.5%;
    color: rgb(241,47,93);
}
h2 {
    font-size: 125%;
    color: rgb(241,47,93);
}
h3 {
    font-size: 100%;
}
a:link, a:visited {
    color: rgba(241,47,93,0.8);
}
a:hover {
    color: rgb(241,47,93);
    text-decoration: none;
}
.nav {
    list-style-type: none;
    padding: 0;
}
.nav a:link, .nav a:visited {
    text-decoration: none;
    display: block;
    border-top: 1px solid rgb(232,243,248);
    padding: 0.5em 0 0.5em 0;
    color: rgb(66,148,182);
}
.nav a:hover {
    background-color: rgba(232,243,248,0.3);
}
.box {
    border-top: 1px solid rgb(219,230,236);
    padding: 1em 0 1em 0;
}


header {
    text-align: right;
    padding: 40px 0 0 0;
    border-bottom: 8px solid rgb(59,67,68);
    margin-bottom: 40px;
}
header h1 {
    font-size: 187.5%;
    padding-bottom: 10px;
    color: rgb(59,67,68);
}

/* pour le 'Web' */
header h1 span {
    font-style: italic;
    color: rgb(241,47,93);
}


footer {
    clear: both;
    background-color: rgb(59,67,68);
    color: rgb(255,255,255);
    padding: 20px;
    overflow:auto; /* permet d'avoir des sous-éléments flottants */
}


/* nouveau, ci-dessous */

/* Désormais, la page n'a plus de largeur fixe ('fluid design')
   et la zone de navigation, l'article et l'aside */
/* valeur par défaut de centrePage */
.centrePage {
    /* width: 940px; */
    width: 90%;
    margin: 0 auto 0 auto; /* centré */
} 
/* Organisation en 2 colonnes (zone de navigation et article),
   l'aside passant dessous.
Dans ce cas la largeur de l'écran est comprise entre 768 et 991 pixels, et comme
la largeur de la page fait 90% de ces valeurs (entre 691 px and 892 px).
Pour calculer les prop. on utilise une valeur comprise entre les 2,
ici 700 px. On en déduit les proportions ci-dessous. */
@media only screen and (min-width: 768px) {
    
    nav {
        width: 31.42857%; /* 220/700 */
        /* width: 220px; */
        float: left;
    }
    article {
        float: left;
        width: 65.71428%; /* 460/700 */
    }
    aside {
        width: 100%;
       /* float:right; */
       clear: both;  /* passe sous les deux autres */
    }
}
/* organisation en 3 colonnes */
@media only screen and (min-width: 992px) {
    .centrePage {
        max-width: 1180px; /* évite un contenu trop large
                           pour être désagréable à lire */
    }
    /* on a choisi, pour le calcul des proportions 940 px */
    nav {
        width: 23.404255%; /* 220/940 */
        margin-right: 2.1276596%; /* 20/940 */
        /*
        width: 220px;
        float: left;
        margin-right: 20px;
        */
    }
    article {
        float: left;
        /* width: 440px; */
        width: 46.808511%; /* 440/940 */
    }
    aside {
        /* width: 220px; */
        width: 23.404255%; /* 220/940 */
        float: right;
        clear: none;
    }
}
/* afin que le trait sous le header fasse toute la largeur */
header .interneHeader {
    border-bottom: 1px solid rgb(59,67,68);
    margin-bottom: 2px;
}
